*{
    margin: 0;
    padding: 0;
}


body{
background-color: #DEB887;
color:aliceblue;
margin: 0px;
margin-bottom: 100px; 
}

header{
 border-bottom: solid 2px #FFDEAD;
 margin: 20px;
 font-size: 32px;
 color: black;

}





.capa{
    color:chocolate;
    font-size: 20px;
}

#instruentos{
      display: flex;
      padding-left: 200px; 
}

.videos{

      display: flex;
      overflow: auto;
      gap: 10px;
}


